div.typing-block
    div.msgwindow-container.msgwindow-container__style
        div.msgwindow-container__msgwindow.msgwindow-container__msgwindow_style
    form.input
        div.input__icon-container
            img.input__icon-container__icon.input__icon-container__icon_style(src="/images/add.png")
        textarea.input__text.input__text_style(placeholder="ask here..")
        div.input__icon-container
            img.input__icon-container__icon.input__icon-container__icon_style(src="/images/send.png")