.support-msgwindow-container {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-self: center;
    height: 90%;
    width: 100%;
}

.support-msgwindow-container__style {
    border-radius: 10px;
    background-color: var(--global-msgwindow-container-color);
}


.support-msgwindow-container__support-msgwindow {
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: flex-end;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px 10px 10px 10px;
    align-self: center;
    width: 95%;
    height: unset;
    max-height: 95%;
}

.support-msgwindow-container__support-msgwindow_style {
    background-color: transparent;
}

.support-msgwindow-container__support-msgwindow::-webkit-scrollbar {
    width: 7px;
    background-color: transparent;
}

.support-msgwindow-container__support-msgwindow::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: transparent;
}

.support-msgwindow-container__support-msgwindow:hover::-webkit-scrollbar-thumb {
    background-color: var( --global-scrollbar-color);
    -webkit-box-shadow: inset 0 0 2px var(--global-darkgrey-color);
}