.main-page {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; /*so everything in one line*/
    justify-content: center;
    width: 100vw;
    height: 100vh; /*header is 5vh*/
}

.main-page__container {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh; /*experimenting with viewports*/
    width: 100vw;
}

.main-page__container_style {
    border-radius: 10px;
    background-color: #FFFFFF;
}