div.chat-block__image-row
    img.chat-block__image-row__image.chat-block__image-row__image_style(src='images/sasha.jpeg')
div.chat-block__message-column
    div.chat-block__message-column__name-row.chat-block__message-column__name-row_style.fluid-font-size_1= `CLIENT ${id}`


